.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-event {
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  background: #ccc;
  z-index: 1001;
  color: black;
}

.opos {
  padding: 1rem;
}

.title-newEvent {
  text-align: center;
  color: black;
  font-size: 4rem;
}

.opos label {
  font-size: 2rem;
  padding: 2rem;
}

.divbtn {
  text-align: center;
}

.cancelbtn {
  background-color: #444;
}

.cancelbtn:hover {
  background-color: #333;
}

.addbtn {
  background: var(--color-btn);
  border-radius: 999px;
  box-shadow: var(--color-btn) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
