.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border-color: #444 transparent #444 transparent;
  border-style: solid;
  border-width: 4px;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
