.profile {
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: black;
  background: radial-gradient(
    circle,
    rgba(217, 249, 255, 1) 46%,
    rgba(164, 240, 255, 0.8085828081232493) 100%
  );
  backdrop-filter: blur(2px);
  border-radius: 1.2rem;
}

.form-style {
  color: black;
}

.form-style h2 {
  color: black;
}

.btns-edit {
  padding: 1rem;
  text-align: center;
}

.edit {
  background: var(--color-btn);
  border-radius: 999px;
  box-shadow: var(--color-btn) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 1rem;
}

.edit:hover {
  cursor: pointer;
}

.pic {
  position: relative;
  display: flex;
}

.icon {
  font-size: 2.3rem;
}

.exit {
  transition: all 0.2s;
  position: absolute;
  right: 1px;
  filter: invert(12%) sepia(99%) saturate(4616%) hue-rotate(261deg)
    brightness(96%) contrast(140%);
}

.exit:hover {
  filter: invert(59%) sepia(92%) saturate(4023%) hue-rotate(217deg)
    brightness(105%) contrast(90%);
}

.username {
  padding: 1rem;
  color: black;
}
